<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Crear:</strong>
  <%= @profile.crear %>
</p>

<p>
  <strong>Editar:</strong>
  <%= @profile.editar %>
</p>

<p>
  <strong>Leer:</strong>
  <%= @profile.leer %>
</p>

<p>
  <strong>Eliminar:</strong>
  <%= @profile.eliminar %>
</p>

<p>
  <strong>Total:</strong>
  <%= @profile.total %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @profile.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @profile.updated_at %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
