<p id="notice"><%= notice %></p>

<h1>Pos</h1>

<table>
  <thead>
    <tr>
      <th>Shop</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pos.each do |po| %>
      <tr>
        <td><%= po.shop_id %></td>
        <td><%= po.number %></td>
        <td><%= link_to 'Show', po %></td>
        <td><%= link_to 'Edit', edit_po_path(po) %></td>
        <td><%= link_to 'Destroy', po, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Po', new_po_path %>
