<p id="notice"><%= notice %></p>

<p>
  <strong>Pos:</strong>
  <%= @sale.pos_id %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @sale.ticket %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
