<% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>Home</li><li>Miscellaneous</li><li>Blank Page</li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
<% end %>


<%# if (current_user.nameProfile_id == 1) || (current_user.nameProfile_id > 1) %>

    <!-- MAIN CONTENT -->
    <div id="content">

      <!-- row -->
      <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
          <h1 class="page-title txt-color-blueDark">

            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>
            Page Header
            <span>>
          Subtitle
        </span>
          </h1>
        </div>
        <!-- end col -->

        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
          <!-- sparks -->
          <ul id="sparks">
            <li class="sparks-info">
              <h5> My Income <span class="txt-color-blue">$47,171</span></h5>
              <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
              </div>
            </li>
            <li class="sparks-info">
              <h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
              <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                110,150,300,130,400,240,220,310,220,300, 270, 210
              </div>
            </li>
            <li class="sparks-info">
              <h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
              <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                110,150,300,130,400,240,220,310,220,300, 270, 210
              </div>
            </li>
          </ul>
          <!-- end sparks -->
        </div>
        <!-- end col -->

      </div>
      <!-- end row -->

      <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->

      <!-- widget grid -->
      <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

          <!-- NEW WIDGET START -->
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0">
              <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

              -->
              <header>
                <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                <h2>Widget Title </h2>

              </header>

              <!-- widget div-->
              <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                  <!-- This area used as dropdown edit box -->
                  <input class="form-control" type="text">
                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body">

                  <!-- this is what the user will see -->

                </div>
                <!-- end widget content -->

              </div>
              <!-- end widget div -->

            </div>
            <!-- end widget -->

          </article>
          <!-- WIDGET END -->

        </div>

        <!-- end row -->

        <!-- row -->

        <div class="row">

          <!-- a blank row to get started -->
          <div class="col-sm-12">
            <!-- your contents here -->
          </div>

        </div>

        <!-- end row -->

      </section>
      <!-- end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->

    <%# else %>

    <!--<h1>ASK FOR PERMISSIONS!!</h1>-->

<%# end %>

